altgraph==0.16.1
certifi==2019.11.28
chardet==3.0.4
code128==0.3
idna==2.8
pdfkit==0.6.1
Pillow==8.3.2
pycairo==1.18.2
PyGObject==3.34.0
PyGObject-stubs==0.0.2
https://github.com/pyinstaller/pyinstaller/archive/develop.zip
python-xlib==0.25
requests==2.22.0
six==1.13.0
urllib3==1.25.7
zpl==0.1.1
